@keyframes slideUp {
  from {
    transform: translateY(100%); /* 시작 위치: 100% 아래로 이동 */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* 종료 위치: 원래 위치로 이동 */
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0); /* 시작 위치: 원래 위치로 이동 */
    opacity: 1;
  }
  to {
    transform: translateY(100%); /* 종료 위치: 100% 아래로 이동 */
    opacity: 0;
  }
}

/* 알림이 나타날 때의 슬라이드 애니메이션 */
.animate-slide-up {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* 알림이 사라질 때의 슬라이드 애니메이션 */
.animate-slide-down {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}